@import "tailwindcss";

body {
  @apply bg-slate-50 text-slate-800;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

img,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}

::selection {
  @apply bg-blue-200 text-blue-900;
}
